{% extends 'medewerker.html.twig' %}

{% block title %}Profiel bewerken{% endblock %}

{% block menu %}
    <li><a href="/deelnemer/activiteiten">Activiteiten</a></li>
    <li class="active"><a href="{{ path('edit', {'id':user.id}) }}">Profiel</a></li>
{% endblock %}

{% block content %}
    <h1>Profiel bewerken</h1>

    {{ include('medewerker/user/_form.html.twig', {'button_label': 'Update'}) }}

    <li><a href="/deelnemer/activiteiten">Terug naar activiteiten</a></li>

{% endblock %}
